@tailwind base;
@tailwind components;
@tailwind utilities;



@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.footer__right ul li {
  padding: 5px 0;
}

.footer__left ul li {
  padding: 5px 0;
}

.menu {
  display: none;
}

.DrawerClassNames {
  background-color: red;
}

.card {
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  /* background-color: #0F1B03; */
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
}

.card img {
  width: 100%;
  max-height: 75%;
}

.carousel__image {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}


@media screen and (max-width:1366px) {
  .app {
    max-width: 1366px;
    width: 100%;
  }
}

@media screen and (max-width:1200px) {
  .app {
    max-width: 1200px;
    width: 100%;
  }

  .stol {
    padding-left: 40px;
    padding-right: 40px;
  }
}


@media screen and (max-width:1024px) {
  .app {
    max-width: 1024px;
    width: 100%;
  }

  .categories {
    font-size: 17px;
    padding: 12px 16px;
  }

  .stol {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width:992px) {
  .app {
    max-width: 992px;
    width: 100%;
  }

  .categories {
    font-size: 17px;
    padding: 12px 16px;
  }

  .fornitureInfo {
    height: 300px;
  }

  .navIcon {
    display: none;
  }

  .menu {
    display: block;
  }

  .line {
    display: none;
  }

  .navLink992 {
    display: none;
  }

  .zarmebel {
    font-size: 25px;
  }

  .font {
    font-size: 25px;
  }

  .zar__info {
    max-width: 230px;
    width: 100%;
    font-size: 15px;
  }

  .zar__logo {
    width: 90px;
  }


  .footer__right ul li {
    font-size: 15px;
  }

  .footer__left ul li {
    font-size: 15px;
  }

  .catolog,
  .contact {
    font-size: 24px;
  }

  .footer {
    padding: 0 30px;
    gap: 0;
    justify-content: space-between;
  }

  .stol {
    justify-content: space-around;
    padding-left: 55px;
    padding-right: 55px;
  }

  .categories ul {
    justify-content: space-between;
  }

  .categories ul li {
    text-align: center;
    width: 30%;
  }
}

@media screen and (max-width:768px) {
  .categories ul li a {
    font-size: 18px;
  }

  .categories ul {
    justify-content: center;
  }

  .categories ul li {
    width: 40%;
  }

  .popular {
    margin-top: 30px;
  }

  .categories {
    padding: 5px;
  }

  .categories ul {
    margin-top: 0px;
  }

  .footer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 25px;
  }

  .stol {
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-evenly;
  }

  .ant-modal-content {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
  }

  .swiper {
    max-width: 768px;
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .card {
    max-width: 275px;
    width: 100%;
  }

  .card__info {
    display: flex;
    justify-content: center;
  }

  .ant-modal-title {
    width: 100%;
  }

  .buy {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buy__name {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .buy__price {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .fornitureInfo {
    max-width: 700px;
    width: 100%;
  }

  .buy__info {
    width: 100%;
  }

  .count {
    display: flex;
    justify-content: center;
  }

  .logo {
    justify-content: center;
  }

  .zarmebel {
    font-size: 20px;
  }

  .font {
    font-size: 20px;
  }

  .zar__info {
    max-width: 200px;
    width: 100%;
    line-height: 20px;
    font-size: 12px;
  }

  .zar__logo {
    width: 80px;
  }

  .footer__left ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .footer__right ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__left ul li,
  .footer__right ul li {
    padding: 0;
  }

  .list {
    width: 100%;

  }
}

@media screen and (max-width:576px) {
  .categories {
    padding: 10px 0px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .fa-bars {
    font-size: 17px;
  }

  .ant-btn {
    padding: 0;
    border: none;
    /* background-color: black; */
  }

  .categories ul li a {
    font-size: 16px;
  }

  .categories ul {
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .categories {
    padding: 5px;
  }

  .categories ul li {
    width: 39%;
  }

  .popular {
    font-size: 26px;
  }

  .navLink {
    display: none;
  }

  .navLink992 {
    display: block;
  }

  .line {
    display: block;
  }

  .stol {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 0;
    justify-content: space-between;
    margin-top: -20px;
    flex-shrink: 2;
  }

  .product__name {
    font-size: 17px;
    margin-top: 0px;
    margin-left: 0;
    font-weight: 700;
  }

  .product__price {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .card {
    max-width: 48%;
    width: 100%;
    margin-top: 25px;
  }

  .card img {
    width: 100%;
    max-height: 80%;
  }

  .footer {
    padding-left: 5px;
    padding-right: 5px;
  }

  .logo {
    justify-content: center;
  }

  .zar__info {
    max-width: 150px;
  }

  .brand {
    width: 40px;
    height: 40px;
  }

  .footer__left ul li,
  .footer__right ul li {
    padding: 3px 5px;
  }

  .buy__name {
    font-size: 15px;

  }

  .buy__price {
    font-size: 17px;
    margin: -5px;
  }

  .product__plus,
  .product__minus {
    width: 28px;
    height: 26px;
  }

  .product__count {
    width: 28px;
    height: 26px;
    font-size: 18px;
  }

  .count {
    margin-top: 5px;
  }

  .up,
  .down {
    font-size: 18px;
    line-height: 26px;
  }

  .infoCarousel {
    max-width: 350px;
    width: 100%;
  }

  .carousel__img {
    min-height: 450px;
    max-width: 400px;
    width: 100%;
  }

  /* .swiper{
    max-width: 100%;
    width: 100%;
  }
  .swiper-wrapper {
    max-width: 450px;
    width: 100%;
  }
  .swiper-slide{
    max-width: 450px;
    width: 100%;
  } */
}



@media screen and (max-width:400px) {
  .navbar {
    padding: 10px 20px;
  }

  .infoCarousel {
    max-height: 350px;
    max-width: 300px;
    width: 100%;
  }

  .carousel {
    min-height: 200px;
  }

  .carousel__image {
    width: 100%;
    min-height: 200px;
    height: 100%;
  }

  .popular {
    font-size: 20px;
    margin: 5px;
  }

  .stol {
    justify-content: center;
  }



  .categories {
    padding-left: 5px;
    padding-right: 5px;
  }

  .categories ul li {
    width: 50%;
  }

  .categories ul li a {
    font-size: 14px;
  }

  .zar__logo {
    width: 60px;
  }

  .zar__info {
    font-size: 10px;
    max-width: 145px;
  }

  font {
    font-size: 15px;
  }

  .popular {
    font-size: 16px;
  }

  .categories ul li a {
    font-size: 12px;
  }

  .categories ul li {
    padding: 0;
  }

  .product__name {
    font-size: 13px;
    font-weight: 600;
  }

  .product__price {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 0px;
  }

  .zarmebel {
    font-size: 15px;
  }

  .footer__left ul li a,
  .footer__right ul li a {
    font-size: 12px;
  }

  .catolog,
  .contact {
    font-size: 18px !important;
  }

  .list {
    padding: 0px 5px !important;
    margin-bottom: -10px;
  }

  .stol {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
  }

  .card {
    max-width: 48%;
    width: 100%;
  }
}