@tailwind base;
@tailwind components;
@tailwind utilities;



@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.footer__right ul li{
  padding : 5px 0;
}
.footer__left ul li{
  padding : 5px 0;
}

@media screen and (max-width:1366px) {
  .app{
    max-width: 1366px;
    width: 100%;
  }
}

@media screen and (max-width:1200px) {
  .app{
    max-width: 1200px;
    width: 100%;
  }
  .stol{
    padding-left: 40px;
    padding-right: 40px;
  }
}


@media screen and (max-width:1024px) {
  .app{
    max-width: 1024px;
    width: 100%;
  }
  .categories{
    font-size: 17px;
    padding: 12px 16px;
  }
}

@media screen and (max-width:992px) {
  .app{
    max-width: 992px;
    width: 100%;
  }
  .categories{
    font-size: 17px;
    padding: 12px 16px;
  }
}